@font-face {
    font-family: BeachclubGrunge;
    src: url(fonts/BeachclubGrunge.otf);
}

* {
    font-family: BeachclubGrunge;
    color: #f93452e7;
}

body {
    background-color: #171717;
}

header {
    background-color: #0000008e;
    top: 0px;
    left: 0px;
    width: 100%;
}

main {
    margin: 50px;
    font-size: 40px;
    text-align: center;
}

.word-logo {
    margin-right: 51px;
}


.logo-link {
    text-decoration: none;
}

.main-navbar {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.compressed-window-nav {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
}

.dropdown-menu {
    display: none;
}

.nav-logo {
    display: flex;
    align-items: center;
    height: 100px;
}

.word-logo {
    display: flex;

}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-item a {
    font-size: large;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
}

.nav-link::after {
    content: '';
    height: 2px;
    background-color: #1f9fb8;
    display: block;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
}

.nav-link:hover::after {
    opacity: 1;
}

.nav-link:hover,
.nav-link:focus {
    color: #ff6078;
}

footer {
    padding-bottom: 2em;
}

.icons {
    text-align: center;

}

.icons a {
    text-decoration: none;
    margin-right: 20px;

}

.fa-brands.fa-youtube.fa-3x {
    color: #ffcb07;
}

.fa-brands.fa-instagram.fa-3x {
    color: #ffcb07;
}


.smaller-logo-link {
    text-decoration: none;
}

@media screen and (max-width: 1600px) {

    .compressed-window-nav {
        display: none;
    }

    .dropdown-menu {
        display: none;
    }

    .word-logo {
        font-size: 2em;
    }

    .nav-item a {
        font-size: 1.1em;
    }

    .nav-logo {
        display: flex;
        align-items: center;
        height: 5.5em;
    }

}

@media screen and (max-width: 894px) {

    .word-logo {
        font-size: 1.7em;

    }

    .nav-item a {
        font-size: 1em;

    }

    .nav-logo {
        display: flex;
        align-items: center;
        height: 5.5em;
    }


}

@media screen and (max-width: 832px) {

    .word-logo {
        display: none;
    }

    .nav-item {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .compressed-window-nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;


    }

    .compressed-window-nav-word-logo {
        text-align: center;
        font-size: 1.5em;
        font-family: BeachclubGrunge;
        margin: 0 auto;

    }

    .dropdown-menu {
        display: flex;
        align-items: center;
    }

    .dropbtn {
        border: none;
        cursor: pointer;
        background-color: #00000000;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: rgb(175, 172, 172);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content:hover,
    .dropdown-content:focus {
        color: #606aff52;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}

@media screen and (max-width: 750px) {

    .compressed-window-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .compressed-window-nav-word-logo {
        font-size: 1.5em;
        font-family: BeachclubGrunge;
        margin: 0 auto;
        align-items: center;
    }

    #smaller-word-logo-first-word {
        display: block;
    }

}